/*  CSS FOR INDEX FILE */
body{
    padding: 0%;

}
.login{
	margin-left: 500px;
    width:350px;
    height:250px;
    border: 1px solid brown;
    padding:10px;
    border-radius: 15px;
    box-shadow: 0px 2px 5px 2px orange;
}
h3{
	text-align: center;
	color:black;
	font-weight: bolder;
}
.left{
	float: right;
	margin-left: 20px;
}
.key{
	margin-top: 10px;
}
/*  CSS FOR SIGN UP FILE */
.register{
    margin-left: 250px;
    width:750px;
    height:500px;
    border: 1px solid red ;
    padding:10px;
    border-radius: 15px;
    box-shadow: 0px 2px 5px 2px cyan;
    background-color: cornflowerblue;
}
h2{
	font-family: Berlin Sans FB;
	color:brown;
}